/* Body settings */

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

/* Universal settings */

.home_body,
.aboutMe-body,
.contactMe-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* nav-bar and homepage color */

.home_container,
.aboutMe-container,
.contactMe-container,
nav {
  background-color: rgb(0, 0, 0, 0.5);
}

.home_container,
.aboutMe-container,
nav > h2,
.links > a {
  color: white;
}

/* nav-bar settings */

nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 1;
}

nav > h2 {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
}

.links > a {
  font-size: 1.2rem;
  margin: 1rem;
}

/* Homepage settings */

.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  color: white;
  text-align: center;
}

.home_buttons {
  display: flex;
  justify-content: center;
}

/* AboutMe-page settings */

.aboutMe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 40%;
  padding: 2rem;
}

/* Creations-page settings for body */

.creations-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

/* Creations-page container settings */

.creations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  height: 400px;
}

.creations-container > h2 {
  text-align: center;
  height: 6%;
}

.creations-container > p {
  height: 25%;
  overflow: scroll;
}

.creations-container-image {
  height: 40%;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.creations-container-image > img {
  height: 100%;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.creations-container-buttons {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .creations-container-buttons > a
{

} */

/* ContactMe-Page */

.contactMe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 400px;

  color: white;
  text-shadow: 1px 1px solid black;
}

.contactMe-container-text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

/* Animation settings */

.ani-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  overflow: visible;
  z-index: -1;
  bottom: 100%;
}

.line_1 {
  animation: background-glide 9s linear infinite;
  animation-delay: 3s;
}

.line_2 {
  animation: background-glide 15s linear infinite;
  animation-delay: 4s;
}

.line_3 {
  animation: background-glide 12s linear infinite;
  animation-delay: 6s;
}

.line_4 {
  animation: background-glide 10s linear infinite;
}

.line_5 {
  animation: background-glide 14s linear infinite;
  animation-delay: 2s;
}

.line_6 {
  animation: background-glide 9s linear infinite;
  animation-delay: 7s;
}

.line_7 {
  animation: background-glide 10s linear infinite;
  animation-delay: 2s;
}

.line_8 {
  animation: background-glide 11s linear infinite;
}

.line_9 {
  animation: background-glide 10s linear infinite;
  animation-delay: 7s;
}

.line_10 {
  animation: background-glide 9s linear infinite;
  animation-delay: 3s;
}

.line_11 {
  animation: background-glide 14s linear infinite;
}

.line_12 {
  animation: background-glide 10s linear infinite;
  animation-delay: 5s;
}

.line_13 {
  animation: background-glide 15s linear infinite;
}

.line_14 {
  animation: background-glide 10s linear infinite;
}

.line_15 {
  animation: background-glide 10s linear infinite;
  animation-delay: 3s;
}

.ani {
  height: 15px;
  width: 4px;
  border-radius: 8px;
  background-color: rgb(255, 0, 0, 0.15);
  margin: 0 3rem;
  position: relative;
}

@keyframes background-glide {
  from {
    top: 100vh;
  }
  to {
    top: 0px;
  }
}

/* Viewer settings for smaller screens */

@media screen and (max-width: 1200px) {
  .creations-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
